/* this selector applies to the whole html document */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* background color is applied to the html body */
body {
    background-color: #d9dcd6;
}

/* header class is changed to header selector so all the changes can be applied to the header element in html */
 header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* heading 1 in header section is displayed on inline-block in different font size */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* this color is applied on seo class on heading 1 in header section */
header h1 .seo {
    color: #d9dcd6;
}

/* all these attributes are applied to the navigation links in the nav element in header section */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* how the list-style of  list of items in nav element are exhibited */
header nav ul {
    list-style-type: none;
}

/* how list items are displayed on nav element */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* font-color applied to hyperlinks */
a {
    color: #ffffff;
    text-decoration: none;
}

/* font-size enforced on paragraphs of section elements */
p {
    font-size: 16px;
}

/* characteristics applied to background-image in body element */
figure {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* the float property is presented on these classes that are applied to the images in the section-1 */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* features enforced on conten of section-1 element */
section-1 {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* features applied on content of section-2 element */
section-2 {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* properties applied to this class that are presented in section-2 element */
.benefits {
    margin-bottom: 32px;
    color: #ffffff;
}

/* characteristics shown on heading contexts from section-2 element */
section-2 h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* features presented on images in section-2 element */
section-2 img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* properties applied to this class that are displayed on the section-1 element */
.services {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

 /* feature enforced on images in section-1 element */
section-1 img {
    max-height: 200px;
}

/* characteristics shown on heading contexts from section-1 element */
section-1 h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* properties applied  to footer element */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* font-size property used on heading context from footer element */
footer h2 {
    font-size: 20px;
}